.toast {
  width: 16%;
  left: 50%;
  position: absolute;
  top: 2%;
  height: 60px;
  color: white;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.success {
  background-color: rgba(16, 75, 16, 0.885);
}

.error {
  background-color: rgb(95, 3, 3);
}
